.input {
    transition: all 0.3s;
    border: 1px solid gray;
    border-radius: 5px;
  }
  
.input:hover,
.input:focus {
    border-color: blue; 
}
  
.label {
    font-size: 14px;
}

.info {
    height: 20px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
}

.invisible {
    color: transparent;
}

.valid {
    color: green;
}

.invalid {
    color: red;
    
}

.info img {
    width: auto;
    height: 100%;
}